*{
    margin: 0;
    padding: 0;
}
h1{
    
}
header{
    text-align: center;
    margin: 0;
    padding: 0;
    
    

}
body{
    position: relative;
    background-color: rgb(197, 62, 12);
    z-index: 999;

}
nav{
    text-align: center;


}
nav a{
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;

}
li{
    float: left;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li a{
    display: block;
    color: orangered;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}
h3{
    
    font-size: large;
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
    color:orangered;
    padding: 14px 16px;
}
aside{
    position: absolute;
    width: 300px;
    padding: 0px 10px;
    
    

}
.sidebar li{
    float: inherit;
    
}
.sidebar a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

section{
   text-align: center

}
p{
    border: #111;
    border-style: solid;
    margin-left:30% ;
    float: left;
    margin-right: 30%;
    height: 600px;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   ;
    background-color: #333;
    color: orangered;
}
video{
    
    height: 400px;

}
